// footer styles
footer {
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  background-color: #cccccc3d;
  color: #ccc;
  padding: 10px 0px;
}

footer .copyright {
  text-align: center;
}

// footer styles
