.forgot-password-form {
  padding: 10px;
  border: $border-default;
}

.forgot-password-form h1 {
  padding-left: 30px;
  color: $theme-blue !important;
  font-weight: $font-weight-bold-light;
}

.forgot-password-actions {
  align-items: center;
}

.redirect-link {
  transition: $layout-transition-speed;

  &:hover {
    transition: $layout-transition-speed;
    color: $theme-purple !important;
  }
}
