.forgot-password-form {
  h1 {
    padding-left: 15px;
    color: $theme-blue !important;
    font-weight: $font-weight-bold-light;
  }
}

.forgot-password-actions {
  align-items: center;
}

.redirect-link {
  transition: $layout-transition-speed;

  &:hover {
    transition: $layout-transition-speed;
    color: $theme-purple !important;
  }
}
