.login-form {
  padding: 10px;
  border: $border-default;
}

.login-form h1 {
  text-align: center;
  color: $theme-blue !important;
  font-weight: $font-weight-bold-light;
}

.log-out {
  cursor: pointer;
}

.separation {
  @include flex();
  flex-direction: column;
  align-items: center;
  height: 100%;

  @include media-breakpoint-down(sm) {
    margin: 10px 0px;
  }
}

.separation p {
  margin: 10px;
  font-weight: $font-weight-bold;
}

.login-separation {
  height: 100%;
  border-left: 1px solid $blue;
  border-width: 2px;

  @include media-breakpoint-down(sm) {
    border-left: none;
  }
}

.social-btn {
  @include flex();
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: $border-default;
  width: 65%;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: $dark-border-color !important;
  }
}

.google,
.facebook,
.twitter {
  margin-left: 10px;

  &:hover {
    color: $font-hover-color;
  }
}

.google-icon {
  @include icon($google, 50px, 50px);
  background-size: 100%;
}

.facebook-icon {
  @include icon($facebook, 50px, 50px);
  background-size: 100%;
}

.twitter-icon {
  @include icon($twitter, 50px, 50px);
  background-size: 100%;
}
