.login-form {
  h1 {
    padding-left: 15px;
    color: $theme-blue !important;
    font-weight: $font-weight-bold-light;
  }
}

.log-out {
  cursor: pointer;
}

.login-actions {
  align-items: center;
}
