.signup-form {
  padding: 10px;
  border: $border-default;
}

.signup-form h1 {
  padding-left: 30px;
  color: $theme-blue !important;
  font-weight: $font-weight-bold-light;
}

// sign up with social providers
.social-btn {
  @include flex();
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: $border-default;
  width: 65%;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: $dark-border-color !important;
  }
}

.google,
.facebook {
  font-size: $font-size-medium;
  margin-left: 20px;

  &:hover {
    color: $font-hover-color;
  }
}

.google-icon {
  @include icon($google, 40px, 40px);
  background-size: 100%;
}

.facebook-icon {
  @include icon($facebook, 30px, 30px);
  background-size: 100%;
}
